    section {
        margin-top: 170px;
    }
    
    header {
        position: fixed;
        top: 0%;
        right: 0%;
        left: 0%;
    }
    
    .cabecera-barra {
        font: 13px Arial, Helvetica, sans-serif;
    }
    
    .cabecera-barra .cabecera-separador {
        max-width: 1200px;
        text-align: center;
        margin: 0 auto;
    }
    /* Logotipo */
    
    .cabecera-barra h1 {
        float: left;
        font: normal 28px Cookie, Arial, Helvetica, sans-serif;
        line-height: 40px;
        margin: 0;
    }
    
    .cabecera-barra h1 span {
        color: red;
    }
    /* barra 1*/
    
    .cabecera-barra .cabecera-barra-1 {
        background-color: #292c2f;
        box-shadow: 0 1px 1px #ccc;
        padding: 20px 40px;
        height: 80px;
        color: #ffffff;
        box-sizing: border-box;
    }
    
    .cabecera-barra .cabecera-barra-1 a {
        color: #ffffff;
        text-decoration: none;
    }
    
    .cabecera-barra .cabecera-barra-1 nav {
        font: 14px Arial, Helvetica, sans-serif;
        line-height: 40px;
        float: left;
        margin: 0 0 0 60px;
        padding: 0;
    }
    
    .cabecera-barra .cabecera-barra-1 nav a {
        display: inline-block;
        padding: 0 10px;
        opacity: 0.9;
        text-decoration: none;
        line-height: 1;
    }
    
    .cabecera-barra .cabecera-barra-1 nav a:hover {
        opacity: 1;
        border-radius: 2px;
        background-color: red;
        padding: 8px 12px;
    }
    
    .cabecera-barra .cabecera-barra-1 nav a.activo {
        border-radius: 2px;
        background-color: red;
        padding: 8px 12px;
    }
    /* Barra 2*/
    
    button {
        text-decoration: none;
        font-family: arial;
        text-transform: uppercase;
        color: white;
        background-color: red;
    }
    
    button:hover {
        color: black;
        background-color: red;
        text-decoration: none;
    }
    
    .busqueda,
    i,
    button {
        float: left;
    }
    
    input[type=search] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        height: 30px;
        width: 200px;
        background: #CCC;
        float: left;
    }
    
    .cabecera-barra .cabecera-barra-2 {
        background-color: #ffffff;
        box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.05);
        padding: 20px 40px;
    }
    
    .cabecera-barra .cabecera-barra-2 nav {
        text-align: right;
        line-height: 20px;
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .cabecera-barra .cabecera-barra-2 h2,
    .cabecera-barra .cabecera-barra-2 nav a {
        display: inline-block;
        color: #4e5359;
        text-decoration: none;
        padding: 3px 10px;
        transition: 0.25s;
    }
    
    .cabecera-barra .cabecera-barra-2 nav a:hover {
        opacity: 1;
        border-radius: 2px;
        background-color: red;
    }
    
    .cabecera-barra .cabecera-barra-2 nav a.activo {
        border-radius: 2px;
        background-color: red;
        padding: 8px 10px;
    }
    
    @media all and (max-width: 780px) {
        .cabecera-barra .cabecera-barra-1 {
            padding: 20px 0;
        }
        .cabecera-barra .cabecera-barra-1 h1 {
            float: none;
            margin: -8px 0 2px;
            text-align: center;
            font-size: 24px;
            line-height: 1;
        }
        .cabecera-barra .cabecera-barra-1 nav {
            margin: 0;
            float: none;
            font-size: 13px;
        }
        .cabecera-barra .cabecera-barra-1 nav a.activo {
            padding: 5px 8px;
        }
        .cabecera-barra .cabecera-barra-2 {
            padding: 20px 0;
        }
        .busqueda,
        i,
        button,
        input[type=search] {
            float: none;
            margin: 0 0 12px;
        }
        .cabecera-barra .cabecera-barra-2 nav {
            text-align: center;
        }
        .cabecera-barra .cabecera-barra-2 h2,
        .cabecera-barra .cabecera-barra-2 nav a {
            display: block;
            padding: 8px;
        }
        .cabecera-barra .cabecera-barra-2 nav i.fa {
            margin-left: 0;
        }
        section {
            margin-top: 330px;
        }
    }
    /*footer*/
    
    footer {
        background-color: #292c2f;
        box-shadow: 0 1px 1px #ccc;
        padding: 20px 30px;
        height: 100px;
        color: #4e5359;
        box-sizing: border-box;
        bottom: 0px;
        width: 100%;
        background: -prefix-linear-gradient(top, white, black);
        background: linear-gradient(to bottom, white, black);
    }
    
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    /*Contenido*/
    
    section div a:hover {
        background-color: red;
        transform: rotate3d(1, 1, 1, 50deg);
    }
    
    div>a {
        text-decoration: none;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        grid-template-areas: "grid-item-1 grid-item-2 grid-item-3" "grid-item-4 grid-item-5 grid-item-6" "grid-item-7 grid-item-8 grid-item-9";
    }
    
    div[class^="grid-item"] {
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
    
    .grid-item-1 {
        grid-area: grid-item-1;
    }
    
    .grid-item-2 {
        grid-area: grid-item-2;
    }
    
    .grid-item-3 {
        grid-area: grid-item-3;
    }
    
    .grid-item-4 {
        grid-area: grid-item-4;
    }
    
    .grid-item-5 {
        grid-area: grid-item-5;
    }
    
    .grid-item-6 {
        grid-area: grid-item-6;
    }
    
    .grid-item-7 {
        grid-area: grid-item-7;
    }
    
    .grid-item-8 {
        grid-area: grid-item-8;
    }
    
    .grid-item-9 {
        grid-area: grid-item-9;
    }
    
    @media all and (max-width: 1100px) {
        .grid-container {
            grid-template-areas: "grid-item-1 grid-item-1 grid-item-1" "grid-item-4 grid-item-4 grid-item-4" "grid-item-7 grid-item-7 grid-item-7" "grid-item-2 grid-item-2 grid-item-2" "grid-item-5 grid-item-5 grid-item-5" "grid-item-8 grid-item-8 grid-item-8" "grid-item-3 grid-item-3 grid-item-3" "grid-item-6 grid-item-6 grid-item-6" "grid-item-9 grid-item-9 grid-item-9";
        }
    }